<!DOCTYPE html>
<html>
<head>
    <title>MyStations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/> 
	<link rel="stylesheet" type="text/css" href="../css/map.css"/>
	
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/moment.min.js"></script>
    
    <script data-main="../js/config/allBusstopsConfig" src="../js/lib/require.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
    <div class="container" style="margin-top:10px;">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">MyStations</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">All Busstops</a></li>
                <li><a href="/new">Add Busstop</a></li>
                <li><a href="/range">Busstops in Range of</a></li>
            </ul>
          </div>
        </nav>
        <div class="row">
            <div class="col-md-8">
                <div id="map"></div>    
            </div>
            <div class="col-md-4">
                <h3>Schedule:</h3>
                <table class="table table-striped" id="busnumbers" style="width: 300px;">
                    <thead>
                      <tr>
                        <th>Busnumbers for <span id="busstopname">(select a busstop)</span></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <table class="table table-striped" id="departureTimes" style="width: 300px;">
                    <thead>
                      <tr>
                        <th>Departure times for <span id="bussnumber">(select a busnumber)</span></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="status"></div>    
            </div>
        </div>
    </div>
</body>
</html>