<!DOCTYPE html>
<html>
<head>
    <title>MyStations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/> 
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/> 
    <link rel="stylesheet" type="text/css" href="../css/jquery.timepicker.css"/> 
	<link rel="stylesheet" type="text/css" href="../css/map.css"/>
	
    <script src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script data-main="../js/config/newBusstopConfig" src="../js/lib/require.js"></script>
    
</head>
<body>
    <div class="container" style="margin-top:10px;">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">MyStations</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">All Busstops</a></li>
                <li class="active"><a href="/new">Add Busstop</a></li>
                <li><a href="/range">Busstops in Range of</a></li>
            </ul>
          </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <form action="/addBusstop" method="POST">
                    <label>Busstop Name:</label>
                    </br><input id="busstopName" type="text" name="name" placeholder="Name..."/>
                    </br></br>
                    
                    <div class="row">
                        <div class="col-md-8">
                            <label>Busstop Location:</label>
                            <div id="map"></div>
                            </br>
                            <p>
                                <button id="saveBusstop" type="submit" class="btn btn-default">Save</button>
                            </p>
                            </br>

                            <input type="text" name="lat" id="lat" readonly="yes" style="display: none;">
                            <input type="text" name="lng" id="lng" readonly="yes" style="display: none;">
                        </div>
                        <div class="col-md-4">
                            <label>Busnumber administration</label>
                            </br>
                            <button type="submit" class="btn btn-default" id="newBusnumberButton">New Busnumber</button>
                            <div class="newBusnumberWraper" style="display: none;">
                                <label>New Busnumber:</label>
                                </br>
                                <input type="text" name="busnumber" id="busnumberInput" placeholder="e.g. Line 178">
                                </br>
                                <button type="submit" class="btn btn-default" id="addBusnumberButton">Add</button>
                                <button type="submit" class="btn btn-default" id="cancelBusnumberButton">Cancel</button>    
                            </div>
                            </br>
                            </br>
                            <div id="stepOne" style="display: none;">
                                <label>Bus departure times</label>
                                </br>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select a busnumber
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu busnumberList">

                                    </ul>
                                </div>                        
                                </br>
                                <div id="stepTwo" style="display: none;">
                                    <label>Add departure time for:&nbsp;</label><label class="selectedLineLabel"></label>
                                    <div class="departureTimes">
                                        <input class="timepicker" type="text"/>
                                        <button type="submit" class="btn btn-default btn-xs" id="addTime">+</button>    
                                    </div>
                                    </br>
                                    <table class="table table-striped" id="departureTimes" style="width: 200px;">
                                    <thead>
                                      <tr>
                                        <th>Departure times for:&nbsp;<label class="selectedLineLabel"></label></th>

                                      </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>